:root{
    --lg-color:rgb(186, 221, 249);
    --bd-color:rgb(234, 252, 253);
    --nav-color : rgb(55, 115, 118);
    --role-color:rgb(185, 220, 222); 
    --admin-color: rgb(207, 246, 243);
    --room-color: rgb(171, 230, 223);
    --form-color: rgba(207, 238, 233, 0.738);
    --btg-color: rgb(218, 251, 249);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bd-color);
}
/* for login section */
.login-container{
    width: 30%;
}

.custom-btn{
    color: #000;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--lg-color);
}

.dashboard{
    font-style:oblique;
    color: var(--btg-color)
}


/* for navbar section */
#search-wapper{
    padding: 15px; 
    padding-left: 49%;
  
  
  
}
.search-input{
    width: 400px;
    height: 40px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */

}
.logo-area{
    padding: 20px;
}
.search-icon{
    height: 40px;
    width: 40px;
    border: none;
/* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
} 
.nav{
    width: 100vw;
    height: 100px;
    background-color: var(--nav-color);
    justify-content: space-between;
    box-shadow: 2px 0px 31px 7px rgba(0, 0, 0, 0.3);
}

.profile{
    width: 70px;
    height: 70px;
    /* border-radius: 50%; */
    margin-right: 20px;
    
}

.text-color{
    color: #fff;
}
.profile-wapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* admin index section */
.role-div{
    padding: 20px;
    display: flex;
    justify-content: center;

}
.role-container-total{
  
    color: var(--nav-color);
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px 30px;
}
.role-container{
 
    color: var(--nav-color);
    font-size: 18px;
    margin-top: 10px;
    padding: 20px 30px;
    
}
.admin-total{
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: var(--btg-color);
    /* display: flex;
    justify-content: space-between; */
}
.admin-btn{ 
    padding: 30px;
    border-radius: 20px;
    background-color: var(--btg-color);

}
.card-role{
    color: var(--nav-color);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.btn-admin{
    margin: 10px 30px;
    padding:20px;
    background-color: var(--role-color);
    border: 1px solid var(--nav-color);
}

.btn-admin:hover{
    background-color: var(--bd-color);
    border: 1px solid var(--nav-color);


}

.admin-text{
    color:var(--nav-color);
    margin-bottom: 10px;
}

.card-btn{
    color:var(--nav-color);
    background-color: var(--role-color);
}

/*room page section */
.room{
    margin: 30px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
   
    /* background-color: var(--room-color); */
}
.card-form{
    /* height: 35px; */
    border-radius: 15px;
    padding: 50px;
    background-color: var(--role-color);
    border: 2px solid var(--bd-color);
    box-shadow: 1px 0px 18px 3px var(--room-color);
}
.title-color{
    color: var(--nav-color);
}
/* .title{
    border-radius: 10px;
    
} */
/* .card-body{
    padding:10px;
    border-radius: 15px;
    background-color: var(--form-color);
    border: 2px solid var(--admin-color);

} */
/* For validation section */
#valid{
    height: 35px;
    color: red;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-style: italic;
}

