
.room-btn {
    width: 100%; height: 120px; border-radius: 15px; background-color: green;
}

.green {
    background-color: green;
    color: black;
}

.red {
    background-color: #DC3444;
    color: black;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    border-color: #ff6347;;
    color: #ff6347;
    
}

.room-btn h1 {
    margin: 0;
}

.room-btn .btn-outline-dark {
    font-size: 0.8em;
    margin-top: 10px;
}

.card-title {
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.d-flex {
    margin-bottom: 20px;
}

.container {
    padding-top: 10px;
}

.section-space {
    margin-top: 30px;
}
.room-btn {
    transition: transform 0.3s ease;
}

.room-btn:hover {
    transform: scale(1.1);
    outline: 2px solid #0d6efd;
    outline-offset: 2px;
}
.modal-body .highlight {
    color: #007bff; 
    font-weight: bold;  
}
/* .modal-body {
    margin-bottom: 10px;
}

.modal-body p span {
    margin-left: 10px;
    color: #007BFF;
} */

        /* .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background: white;
            padding: 20px;
            border-radius: 8px;
            width: 300px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        .modal-content h2 {
            margin-top: 0;
        }

        .modal-content form {
            display: none;
        }

        .modal-content form.active {
            display: block;
        }

        .modal-content label {
            display: block;
            margin: 10px 0 5px;
        }

        .modal-content input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .modal-content button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .modal-content button:hover {
            background-color: #0056b3;
        } */

        /* .action-buttons {
            display: flex;
            gap: 10px;
        }

        .action-buttons button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .action-buttons button:hover {
            background-color: #0056b3;
        } */